<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.miao.mapper.MiaoProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.miao.entity.MiaoProduct">
        <id column="product_id" property="productId" />
        <result column="name" property="name" />
        <result column="original_price" property="originalPrice" />
        <result column="sale_price" property="salePrice" />
        <result column="promotion" property="promotion" />
        <result column="img" property="img" />
        <result column="platform" property="platform" />
        <result column="link" property="link" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        product_id AS "productId", name AS "name", original_price AS "originalPrice", sale_price AS "salePrice", promotion AS "promotion", img AS "img", platform AS "platform", link AS "link", create_time AS "createTime"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.miao.model.result.MiaoProductResult" parameterType="cn.stylefeng.guns.modular.miao.model.params.MiaoProductParam">
        select
        <include refid="Base_Column_List"/>
        from miao_product where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.miao.model.params.MiaoProductParam">
        select
        <include refid="Base_Column_List"/>
        from miao_product where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.miao.model.result.MiaoProductResult" parameterType="cn.stylefeng.guns.modular.miao.model.params.MiaoProductParam">
        select
        <include refid="Base_Column_List"/>
        from miao_product where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.miao.model.params.MiaoProductParam">
        select
        <include refid="Base_Column_List"/>
        from miao_product where 1 = 1
    </select>

</mapper>
