<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.rest.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.rest.entity.Article">
        <id column="article_id" property="articleId" />
        <result column="article_title" property="articleTitle" />
        <result column="article_cover" property="articleCover" />
        <result column="article_content" property="articleContent" />
        <result column="article_editor" property="articleEditor" />
        <result column="article_from" property="articleFrom" />
        <result column="article_company" property="articleCompany" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        article_id AS "articleId", article_title AS "articleTitle", article_cover AS "articleCover", article_content AS "articleContent", article_editor AS "articleEditor", article_from AS "articleFrom", article_company AS "articleCompany", update_time AS "updateTime", create_time AS "createTime"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.rest.model.result.ArticleResult" parameterType="cn.stylefeng.guns.modular.rest.model.params.ArticleParam">
        select
        <include refid="Base_Column_List"/>
        from miao_article where 1 = 1 order by create_time desc;
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.rest.model.params.ArticleParam">
        select
        <include refid="Base_Column_List"/>
        from miao_article where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.rest.model.result.ArticleResult" parameterType="cn.stylefeng.guns.modular.rest.model.params.ArticleParam">
        select
        <include refid="Base_Column_List"/>
        from miao_article where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.rest.model.params.ArticleParam">
        select
        <include refid="Base_Column_List"/>
        from miao_article where 1 = 1
    </select>

</mapper>
