<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.rest.mapper.CommonSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.rest.entity.CommonSetting">
        <id column="setting_id" property="settingId" />
        <result column="setting_title" property="settingTitle" />
        <result column="setting_content" property="settingContent" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        setting_id AS "settingId", setting_title AS "settingTitle", setting_content AS "settingContent", update_time AS "updateTime", create_time AS "createTime"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.rest.model.result.CommonSettingResult" parameterType="cn.stylefeng.guns.modular.rest.model.params.CommonSettingParam">
        select
        <include refid="Base_Column_List"/>
        from miao_common_setting where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.rest.model.params.CommonSettingParam">
        select
        <include refid="Base_Column_List"/>
        from miao_common_setting where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.rest.model.result.CommonSettingResult" parameterType="cn.stylefeng.guns.modular.rest.model.params.CommonSettingParam">
        select
        <include refid="Base_Column_List"/>
        from miao_common_setting where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.rest.model.params.CommonSettingParam">
        select
        <include refid="Base_Column_List"/>
        from miao_common_setting where 1 = 1
    </select>

</mapper>
