<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.rest.mapper.MiaoPetDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.rest.entity.RestMiaoPetData">
        <id column="pet_data_id" property="petDataId" />
        <result column="pet_id" property="petId" />
        <result column="weight" property="weight" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pet_data_id AS "petDataId", pet_id AS "petId", weight AS "weight", create_time AS "createTime"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.rest.model.result.MiaoPetDataResult" parameterType="cn.stylefeng.guns.modular.rest.model.params.MiaoPetDataParam">
        select
        <include refid="Base_Column_List"/>
        from miao_pet_data where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.rest.model.params.MiaoPetDataParam">
        select
        <include refid="Base_Column_List"/>
        from miao_pet_data where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.rest.model.result.MiaoPetDataResult" parameterType="cn.stylefeng.guns.modular.rest.model.params.MiaoPetDataParam">
        select
        <include refid="Base_Column_List"/>
        from miao_pet_data where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.rest.model.params.MiaoPetDataParam">
        select
        <include refid="Base_Column_List"/>
        from miao_pet_data where 1 = 1
    </select>

</mapper>
